body {
    background-color: $color-Fondo;
    color: $tituloPrincipal;
    font-family: 'manrope', sans-serif;
    

    nav{
        color: $tituloPrincipal;
        font-family: 'manrope', sans-serif;
        padding: 10px;
        height: 100px;
        font-size: 30px;
    }
    p{
        font-weight: 500;
    }

    h1{
        color: $tituloPrincipal;
        font-family: 'manrope', sans-serif;
    }
}

